/.vscode
/__pycache__
/password_manager/build
/password_manager/dist
/password_manager/password_manager.spec
password_manager/storage/storage.txt.enc
password_manager/storage/logs.txt
ascii_art_generator/Leonardo-Mona-Lisa.jpg
ascii_art_generator/aigeneratedpotion.png
ascii_art_generator/aigeneratedpotion2.png
ascii_art_generator/3113740-4046895436.jpg
